.formcard{
    height: 100%;
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.171);
    position: absolute;
}
.innercontainer{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.571);
    margin: auto;
}
.formcard-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.oneprofileedit{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 3px 10px;
    position: relative;
}
.profileEditTitle{
    font-size: 12px;
    color: #000;
    justify-self: flex-start;
    align-self: flex-start;
}

.oneprofileedit{
    margin: 12px 20px;
}
.oneprofileedit input{
    width: 100%;
    min-width: 300px;
    height: 30px;
    padding: 5px;
}
.oneprofileedit input:focus{
    outline: none;
    box-shadow: 0 5px 3px 0 #00000010;
}
.formcard-body .formbtn{
    margin: 0 20px;
    width: 80px;
    color: #fff;
}

.readonly:hover{
    cursor: not-allowed;
}
.formedit{
    flex-grow: 1;
    height: 25px;
}
.wrongmessage{
    color:red;
    position: absolute;
    left: 0;
    font-size: 12px;
}